GOOGLE_AI_API_KEY=yourGoogleApiKey
GOOGLE_AI_MODEL=gemini-3.1-flash-lite
##################################################
OLLAMA_AI_URL=http://localhost:11434
#OLLAMA_AI_MODEL=gpt-oss
OLLAMA_AI_MODEL=llama3.2:3b
#OLLAMA_AI_MODEL=minimax-m3:cloud
#OLLAMA_AI_MODEL=qwen3.5:2b
#OLLAMA_AI_MODEL=qwen3.5:latest
##################################################
GROQ_AI_API_KEY=yourGroqApiKey
GROQ_AI_MODEL=openai/gpt-oss-20b
#GROQ_AI_MODEL=openai/gpt-oss-120b
##################################################
ANTHROPIC_AI_KEY=yourAnthropicApiKey
ANTHROPIC_AI_MODEL=claude-haiku-4-5
##################################################
OPENAI_AI_KEY=youOpenAiKeay
OPENAI_AI_MODEL=gpt-5-mini
OPENAI_AI_BASE_URL=https://api.openai.com
##################################################
# Postgres
POSTGRES_USER=yourPostgressUser
POSTGRES_PASSWORD=yourPostgresPass
POSTGRES_DB=yourDbName